In [1]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [3]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [4]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [5]:
numbers[0:4]

(1, 2, 3, 4)

In [6]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [7]:
## Tuple Operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [8]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [9]:
numbers *3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [10]:
#immutability of Tuples
numbers
numbers[1]='Raj'

TypeError: 'tuple' object does not support item assignment

In [11]:
#tuple methods
print(numbers.count(1)) #frequency of one
print(numbers.index(3))  #on what pos the 3 is present

1
2

In [13]:
#packing an unpacking tuple

numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [14]:
#slicing
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]